.edit-voucher {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    border-radius: 15px;
    background-color: antiquewhite;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    transition: transform 0.4s ease, opacity 0.4s ease, box-shadow 0.4s ease, visibility 0s linear 0.4s;
    z-index: 20;
}

.open-edit-voucher {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: transform 0.4s ease, opacity 0.4s ease, box-shadow 0.4s ease, visibility 0s;
}

.edit-voucher h1 {
    position: absolute;
    top: -6%;
    right: 12.5%;
    padding: 1% 3%;
    width: 75%;
    text-align: center;
    border-radius: 50px;
    background-color: #0ddc14;
    color: white;
}

.form-content {
    margin-top: 10px;
    padding: 20px;
}

.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 17px;
}

.input label {
    font-weight: bold;
}

.input input,
.input select {
    width: 65%;
    padding: 9px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input input:focus,
.input select:focus {
    outline: none;
    border-color: #0ddc14;
}

.footer-edit {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.footer-edit a {
    text-decoration: none;
    color: inherit;
}

.footer-edit button {
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px 20px;
}

.btn-edit-voucher {
    color: white;
    background-color: #0ddc14;
}