html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: url(../../images/system/bgLogin.gif) no-repeat;
    background-size: cover;
    height: 100%;
}

.login-box {
    position: absolute;
    top: 38%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    /* background: #405487;
	background: -webkit-linear-gradient(to bottom, #fab82e 20%, #405487 65%);
	background: linear-gradient(to bottom, #fab82e 20%, #405487 65%); */
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 3px 3px; 
    box-sizing: border-box;
    box-shadow: 0 15px 75px rgba(0,0,0,.9);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

button {
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 8px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.4s ease;
}

button:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
    background-color: #227080;
    color: white;
}

@keyframes moveAround {
    /* bình thường */
    0% {
        bottom: 0; 
        left: 0; 
    }
    50% {
        bottom: 0; 
        left: 100%; 
        transform: translateX(-100%);
    }
    100% {
        bottom: 0; 
        left: 0;
    }

    /* Rớt chữ  */
    /* 0% {
        bottom: 0;
        left: 0;
    }
    25% {
        top: 0;
        left: 100%; 
        transform: translateX(-100%);
    }
    50% {
        top: 100%; 
        left: 100%;
        transform: translate(-100%, -100%);
    }
    75% {
        top: 100%;
        left: 0; 
        transform: translateY(-100%);
    }
    100% {
        top: 0; 
        left: 0;
        transform: translate(0, 0);
    } */
}

.moving-div {
    position: absolute;
    display: none;
    animation: moveAround 4s linear infinite; /* Thời gian chạy là 5 giây */
}

.moving-div img {
    width: 400px;
}

.error {
    position: absolute;
    bottom: 82px;
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    transform: translate(85%, 80%);
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 0 0 15px rgba(0, 0, 0, 10.5);
}