table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    font-size: 16px;
    text-align: left;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

table th {
    border: 1px solid #e0e0e0;
    padding: 10px 16px;
}

table th {
    background-color: #363a3d;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 14px;
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
}

table tbody td {
    text-align: center;
    border: 1px solid #d4d4d4;
    padding: 5px 0px;
}

/* modal */
.modal {
    position: fixed;
    top: 0; 
    left: 0;
    right: 0; 
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease, visibility 0s linear 0.4s;
    z-index: 10;
}

.open-modal {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.4s ease, visibility 0s;
}

.order-detail-content {
    position: absolute;
    top: 50%;
    left: 57%;
    width: 75%;
    border-radius: 15px;
    background-color: antiquewhite;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    transition: transform 0.4s ease, opacity 0.4s ease, box-shadow 0.4s ease, visibility 0s linear 0.4s;
    z-index: 20;
}

.open-order-detail-content {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: transform 0.4s ease, opacity 0.4s ease, box-shadow 0.4s ease, visibility 0s;
}

.order-detail-content h1 {
    position: absolute;
    margin: -3% 0% 0% 32%;
    padding: 1%;
    width: 35%;
    text-align: center;
    border-radius: 50px;
    background-color: #0ddc14;
    color: white;
}

.refund-content-detail {
    padding: 20px;
}

/* Nút */
.btn-approve, .btn-reject, .btn-detail {
    display: inline-block;
    padding: 6px 13px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #ccc;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-approve {
    background-color: #aee2b0;
}

.btn-reject {
    background-color: #f8b3b3;
}

.btn-approve:hover {
    background-color: #0ddc14;
    color: white;
    transform: translateY(-2px);
}

.btn-reject:hover {
    background-color: #eb1616;
    color: white;
    transform: translateY(-2px);
}

.content-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.close-modal {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
}

.close-modal:hover {
    background-color: #ccc;
}